{% load static %}
<!DOCTYPE html>
<html lang="en">

<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        Physics FYP - {% block title %}{% endblock %}
     </title>
<!-- Primary Meta Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
    <meta name="title" content="Dept. Of Physics Final Year Projects">
    <meta name="description" content="Complete your final year projects with Physics Final Year Projects (FYP). Choose from the numerous project topics uploaded by supervisors or pitch your project idea to supervisors. ">
    <meta name="keywords" content="Department of Physics KNUST, KNUST physics department, physics knust, physag, physics Ghana, Ghana Physics, Dept of Physics, KNUST physics, Dept of physics knust" />
    <link rel="canonical" href="https://physics_fyp.herokuapp.com">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://physics-fyp.herokuapp.com">
    <meta property="og:title" content="Dept. Of Physics Final Year Projects">
    <meta property="og:description" content="Complete your final year projects with Physics Final Year Projects (FYP). Choose from the numerous project topics uploaded by supervisors or pitch your project idea to supervisors. ">
    <meta property="og:image" content="https://physics-fyp-assets.s3.eu-west-3.amazonaws.com/static/New+Project+(3).png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://physics-fyp.herokuapp.com/">
    <meta property="twitter:title" content="Dept. Of Physics Final Year Projects">
    <meta property="twitter:description" content="Complete your final year projects with Physics Final Year Projects (FYP). Choose from the numerous project topics uploaded by supervisors or pitch your project idea to supervisors. ">
    <meta property="twitter:image" content="https://physics-fyp-assets.s3.eu-west-3.amazonaws.com/static/New+Project+(3).png">


    
<!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/portalicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/portalicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/portalicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/portalicons/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'assets/portalicons/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

<!-- FA Icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" 
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Sweet Alert -->
<link type="text/css" href="{% static 'assets/vendor/sweetalert2/dist/sweetalert2.min.css' %}" rel="stylesheet">

<!-- Notyf -->
<link type="text/css" href="{% static 'assets/vendor/notyf/notyf.min.css' %}" rel="stylesheet">

<!-- Volt CSS -->
<link type="text/css" href="{% static 'assets/css/volt.css' %}" rel="stylesheet">

<!-- Specific Page JS goes HERE  -->    
{% block stylesheets %}{% endblock stylesheets %}

</head>
<body>

    {% block content %}{% endblock content %}

    {% include 'includes/scripts.html' %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}  

</body>
</html>
