{% extends "home/supervisorskel.html" %} {% block title %} Add Project {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block formit %}




<form method="POST"> {% csrf_token %}
     {{form.as_p}}
    <!-- <div class="mb-4">
        <label for="email">Project Title</label>
        <input type="text" class="form-control" id="text" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">Please provide a title of project</small>
    </div>


    <div class="my-4">
        <label for="textarea">Project Description</label>
        <textarea class="form-control" placeholder="Enter your message..." id="textarea" rows="4"></textarea>
    </div>


    <div class="mb-4">
        <label class="my-1 me-2" for="country">Country</label>
        <select class="form-select" id="country" aria-label="Default select example">
                              <option selected>Open this select menu</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                          </select>
    </div>

    <div class="mb-4">
        <label class="my-1 me-2" for="country">Specialization</label>
        <select class="form-select" id="country" aria-label="Default select example">
                              <option selected>Open this select menu</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                          </select>
    </div>

    <div class="mb-4">
        <label class="my-1 me-2" for="country">Supervisor</label>
        <select class="form-select" id="country" aria-label="Default select example">
                              <option selected>Open this select menu</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                          </select>
    </div>


    <div class="mb-3">
        <label for="formFile" class="form-label">Project Image (Optional)</label>
        <input class="form-control" type="file" id="formFile">
    </div> -->
    <button class="btn btn-primary" type="submit" value = 'Save'> Add Project</button>
    
    <!-- {{ request.user.id|json_script:"user-id"}} -->
    
</form>
{% endblock formit %}



<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}