{% extends "layouts/base.html" %} {% block title %} Notifications {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div class="d-block mb-4 mb-md-0">
        <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item">
                    <a href="#">
                        <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                    </a>
                </li>
                <li class="breadcrumb-item"><a href="#">Physics Final Year Projects</a></li>
                <li class="breadcrumb-item active" aria-current="page">All Projects</li>
            </ol>
        </nav>
        <h2 class="h4">All Notifications</h2>
        <p class="mb-0">Find all your Notifications here</p>
    </div>
    
    {% if not notifications.paginator.count == 0 %}
    <div class="btn-toolbar mb-md-0">
        <!-- <a href="#" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center">
              <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
          </a> -->
          <div class="btn-group ms-2 ms-lg-3">
            <a href ="{% url 'deleteforuser' sid %}"> <button type="button" class="btn btn-sm btn-outline-gray-600">Delete All Notifications</button> </a>
        </div>
        
    </div>
    {% endif %}
</div>



<div class="card card-body border-0 shadow table-wrapper table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <!-- <th class="border-gray-200">#</th> -->
                <th class="border-gray-200">Notification</th>
                <th class="border-gray-200">Sender</th>
                <th class="border-gray-200">Date Sent</th>
                <th class="border-gray-200">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% if notifications.paginator.count == 0 %}
            <tr style = 'border: 1px solid white'> 
                <td class = "align-items-center">
            <p> You have no notifications </p>
        </td>
        </tr>
            {% else %}
            <tr>
                {% for notification in notifications %}
                <td class="fw-bolder text-gray-500" scope="row">
                    <a href="#">
                        <p class="fw-bolder text-gray-500">{{ notification.message|slice:":31" }} </p>

                        <p style="margin-top: -5%;" class="fw-bolder text-gray-500"> {{ notification.message|slice:"32:60"}}{% if notification.message|length > 60 %}...{% else %} {% endif%}
                        </p>
                    </a>

                </td>
                <td class="fw-bolder text-gray-500">
                    {{ notification.sender.first_name }}
                </td>
                <td class="fw-bolder text-gray-500">
                    <p> {{ notification.datesent }} </p>
                </td>
                <td class="fw-normal text-gray-500">
                    <a class = "sethov" href = "{% url 'deletenotif' notification.id %}"><svg  class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg"><path d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0H284.2c12.1 0 23.2 6.8 28.6 17.7L320 32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 96 0 81.7 0 64S14.3 32 32 32h96l7.2-14.3zM32 128H416V448c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64V128zm96 64c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16z" clip-rule="evenodd"></path></svg>
                   </a> 
                </td>
                </tr>
            {% endfor %}
            {% endif %}


        </tbody>
    </table>

    
    

    {% if not notifications.paginator.count == 0 %}
    <div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between">
        <nav aria-label="Page navigation example">
            <ul class="pagination mb-0">
                {% if notification.has_previous %}
                <!-- <li class="page-item"><a class="page-link" href = "?page = 1"></a></li> -->
                <li class="page-item"><a class="page-link" href = "?page={{ notifications.previous_page_number }}"> Previous </a> </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                  </li>
                {% endif %}
                {% for i in notifications.paginator.page_range %}
                {% if forloop.counter == notifications.number %}
                <li class="page-item active">
                    <a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}} <span class="sr-only"></span></a>
                  </li>
                {%else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a>
                </li>
                
                {% endif %}
                 {% endfor %}
                
            {% if notifications.has_next %}
            <li class="page-item"><a class="page-link" href = "?page={{notifications.next_page_number}}"> Next </a> </li>
            <!-- <li class="page-item"><a class="page-link" href = "?page={{projects.paginator.num_pages}}">Last</a> </li> -->
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Next</a>
              </li>
            {% endif %} 
            </ul>
        </nav>
        <div class="fw-normal small mt-4 mt-lg-0">Showing <b>{{ notifications.end_index }}</b> out of <b>{{ notifications.paginator.count }}</b> entries</div>
    </div>
    {% endif %}
</div>



{% endblock content %}




<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}