{% extends "layouts/base-fullscreen.html" %} {% load static %}

{% block title %} Verify Email {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<main data-background-lg="{% static 'assets/img/illustrations/hero-bg.jpg' %}">

        <section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center form-bg-image" data-background-lg="{% static 'assets/img/illustrations/bgimage.svg' %}">
                              
                    <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="signin-inner my-0 my-lg-0 bg-white shadow border-0 rounded p-4 p-lg-5 w-100 fmxw-500">
                            
                        <div class="text-center text-md-center mb-2 mt-md-0">
                            {% if messages %}
                            {% if img1 %}
                            <img src = "{% static 'assets' %}{{img1}}">
                            {% elif img2 %}
                            <img src ="{% static 'assets' %}{{img2}}">
                            {% endif %}
                       <p {% if message.tags %} class=" {{messages.tags}} " {% endif %}> <b>{{messages}}</b></p>  
                       <!-- {% if request.user.supervisor %}
                       <p style = 'margin-top:-12px;'> <b>Go to your <a href = "{% url 'supervisor' %}" class = 'text-danger'> Dashboard </a></b> </p>
                       {% endif %} -->
                        </div>
                           
                        
                        {% else %}  
                            <h1 class="h3">Verify Email</h1>
                            <p class="mb-4">You need to verify your email to <span class = "text-danger">activate </span> your Physics FYP Account.</p>
                            <form method = 'POST'>
                                {% csrf_token %}
                                <span class = 'text-danger'> {{ form.email.errors }} </span>
                                
                                <!-- Form -->
                                <div class="mb-4">
                                    <label for="email">Enter Your Active and Valid Email Address</label>
                                        <div class="input-group">
                                            {{form.email}}
                                        </div>  
                                    </div>  
                                
                                <!-- End of Form -->
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-gray-800">Send Email Verification Code </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                    {% endif %}
                    {%if messages %}
                    <div style = 'text-align: center'>
                    <a class="btn btn-dark animate-hover" href="{% url 'home' %}">
                        <i class="fas fa-chevron-left me-1 animate-left-3"></i>HOME</a>
                    <a class="btn btn-dark animate-hover" href="{% url 'studentview' %}">
                        <i class="fas fa-chevron-left me-1 mb-0 animate-left-3"></i>STUDENT</a> 
                        <a class="btn btn-dark animate-hover mb-0" href="{% url 'supervisor' %}">
                            <i class="fas fa-chevron-left me-1 animate-left-3"></i>SUPERVISOR</a>
                        <a style = "margin-top: -20px;" class="btn btn-dark animate-hover" href="{% url 'coordinator' %}">
                            <i class="fas fa-chevron-left me-1 mt-0 animate-left-3"></i>COORDINATOR</a>
                    </div>
                    {% endif %}
                   
                </div>
                
            </div>
        </section>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
