{% extends "layouts/supervbase.html" %} {% block title %} Project Information {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}


<div class="row mt-5">
    <div class="col-12 col-xl-8">
        <div class="card card-body border-0 shadow mb-4">
            <h2 class="h5 mb-4">Project Information </h2>

            <div class="row">
                <!-- <div class="col-md-6 mb-3"> -->
                <div>
                    <span class=" fw-bolder text-gray-500 "> Title :  {{project.title }}</span>
                    <!-- <input class="form-control " id="first_name " type="text " placeholder="Enter your first name " required> -->

                    <p class='lead'> {{project.description}}</p>
                </div>
                <!-- </div> -->

            </div>
            <div class="row align-items-center ">
                <div class="col-md-6 mb-3 ">
                    <span class="fw-bolder text-gray-500 "> Supervisor </span>
                    <p>{{project.supervisor.first_name}} {{project.supervisor.other_names}} </p>
                </div>
                <div class="col-md-6 mb-3 ">
                    <span class="fw-bolder text-gray-500 "> Specialization</span>
                    <p>{{project.specialization}}</p>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-6 mb-3 ">
                    <span class="fw-bolder text-gray-500 "> Status</span> {% if project.approved %}
                    <p>Approved</p>
                    {% else %}
                    <p> Pending Approval </p>
                    {% endif %}
                </div>
                <div class="col-md-6 mb-3 ">
                    <span class="fw-bolder text-gray-500 "> Date Published</span>
                    <p>{{project.date_created.date}}</p>

                </div>
            </div>
            <!-- <h2 class="h5 my-4 ">Location</h2> -->

            <div class="mt-0 ">
                <a href="{% url 'supeditproject' project.id %}"><button class="btn btn-gray-800 mt-0 animate-up-2 ">Edit Project </button> </a>
                <button class="btn btn-danger  mt-0 animate-up-2">Delete Project</button>
            </div>


        </div>

    </div>
    <div class="col-12 col-xl-4 ">
        <div class="row ">
            <div class="col-12 px-0 mb-4">
                <div class="card border-0 shadow">
                    <div class="card-header d-flex flex-row align-items-center flex-0 border-bottom">
                        <div class="d-block">
                            <h2 class="fs-5 fw-bold mb-0">Enrolled Students</h2>
                        </div>

                    </div>
                    <div class="list-group-item border-bottom">
                        <div class="row align-items-center">

                            <div class="col ps-0 m-2">
                                {% if students.count == 0 %}
                                <p class="h6 mb-0 text-small"> No students enrolled for this project</p>
                                {% else %} {% for student in students %}

                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <h4 class="h6 mb-0 text-small">{{student.first_name}} {{student.last_name}}</h4>
                                    </div>
                                    <div class="text-end">


                                        <!-- Button Modal -->
                                        <small type="button" style="color: red;" data-bs-toggle="modal" data-bs-target="#modal-default">Remove From Project</small>
                                        <!-- Modal Content -->
                                        <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h2 class="h6 modal-title">Confirm Removal From Project Group </h2>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body" style="text-align: center;">
                                                        <p class='lead'> Are you sure you want to delete {{student.first_name}} {{student.last_name}} from project </p>
                                                        <p>Project slot will be available for other students and removed student will be able to select another project</p>

                                                    </div>
                                                    <div class="modal-footer">
                                                        <a href="{% url 'supdeletestudentfromproject' student.id %}"> <button type="button" class="btn btn-secondary">Remove</button> </a>
                                                        <button type="button" class="btn btn-link text-gray-600 ms-auto" data-bs-dismiss="modal">Cancel</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% if student.approved == True %}
                                <p class="font-small mt-1 mb-0">{{student.indexNo}}</p>
                                <p class="font-small mt-1 mb-0 text-success">Approved</p>
                                {% elif student.approved == False %}
                                <p class="font-small mt-1 mb-0">{{student.indexNo}}</p>
                                <p class="text-danger">Pending Approval | <span class="fw-bold mt-1 mb-0 text-success"> <a href = "{% url 'supervisoraccept' student.id %}" class = "text-success">Approve  </a></span> </p>
                                {% endif %}
                                <hr> {% endfor %} {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-xl-4">
                <div class="col-12 px-0 mb-4">
                <div class="card border-0 shadow">
                    <div class="card-header d-flex flex-row align-items-center flex-0 border-bottom">
                        <div class="d-block">
                            <h2 class="fs-5 fw-bold mb-0">Project Files </h2>
                        </div>

                    </div>
                    <div class="list-group-item border-bottom">
                        <div class="row align-items-center">

                            <div class="col ps-0 m-2">
                                <p class="h6 mb-0 text-small"> No project files for this project</p>

                                <div class="d-flex justify-content-between align-items-center">
                                    <div>

                                    </div>
                                    <div class="text-end">
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>



        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
            confirmButton: 'btn btn-primary',
            cancelButton: 'btn btn-gray'
        },
        buttonsStyling: false
    });

    document.getElementById('basicAlert').addEventListener('click', function() {
        swalWithBootstrapButtons.fire(
            'Changes Saved',
            'Changes saved, redirecting to project information'
        )
    });
</script>


{% endblock javascripts %}