{% extends "layouts/base-fullscreen.html" %}{% load static %} {% block title %} Error 403 {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<main>
    <section class="vh-100 d-flex align-items-center justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center d-flex align-items-center justify-content-center">
                    <div>
                        <img class="img-fluid w-75" src="{% static 'assets/img/illustrations/404.svg' %}" alt="404 not found">
                        <h1 class="mt-5">
                            Access <span class="fw-bolder text-primary">denied</span>
                        </h1>
                        <p class="lead my-4">
                            You don't have the permission to view this page
                        </p>
                        {% for i in request.user.groups.all %} {% if i.name == 'Coordinator' %}
                        <p class="lead my-4">
                            You're logged in as a Coordinator, You don't have access to this page
                        </p>
                        {% elif i.name == 'Student' %}
                        <p class="lead my-4">
                            You're logged in as a Student, You don't have access to this page
                        </p>
                        {% endif %} {% endfor %}
                        <a class="btn btn-dark animate-hover" href="{% url 'logout' %}">
                            <i class="fas fa-chevron-left me-3 ps-2 animate-left-3"></i>LOGOUT</a>
                        <a class="btn btn-dark animate-hover" href="{% url 'studentview' %}">
                            <i class="fas fa-chevron-left me-3 ps-2 animate-left-3"></i>STUDENT</a>
                        <a class="btn btn-dark animate-hover" href="{% url 'supervisor' %}">
                            <i class="fas fa-chevron-left me-3 ps-2 animate-left-3"></i>SUPERVISOR</a>
                        <a class="btn btn-dark animate-hover" href="{% url 'coordinator' %}">
                            <i class="fas fa-chevron-left me-3 ps-2 animate-left-3"></i>PROJECT COORDINATOR</a>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}