{% if projects.has_previous %}
<a href = "?page = 1"> First </a>
<a href = "?page={{ projects.previous_page_number }}"> Previous </a>
{% endif %}

Page{{projects.number }} of {{projects.paginator.num_pages}}

{% if projects.has_next %}
<a href = "?page={{projects.next_page_number}}"> Next </a>
<a href = "?page={{projects.paginator.num_pages}}">Last</a>
{% endif %}



<div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between">
    <nav aria-label="Page navigation example">
        <ul class="pagination mb-0">
            <li class="page-item">
                <a class="page-link" href="#">Previous</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item active">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">4</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">5</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
    <div class="fw-normal small mt-4 mt-lg-0">Showing <b>5</b> out of <b>25</b> entries</div>
</div>



<div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between">
    <nav aria-label="Page navigation example">
        <ul class="pagination mb-0">
            {% if projects.has_previous %} 
            <!-- <li class="page-item"><a class="page-link" href = "?page = 1"></a></li> -->
            <li class="page-item"><a class="page-link" href = "?page={{ projects.previous_page_number }}"> Previous </a> </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
              </li>
            {% endif %}
            {% for i in numbs %}
            {% if forloop.counter == projects.number %}
            <li class="page-item active">
                <a class="page-link" href="#">{{forloop.counter}} <span class="sr-only"></span></a>
              </li>
            {%else %}
            <li class="page-item">
                <a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a>
            </li>
            
            {% endif %}
             {% endfor %}
            
        {% if projects.has_next %}
        <li class="page-item"><a class="page-link" href = "?page={{projects.next_page_number}}"> Next </a> </li>
        <!-- <li class="page-item"><a class="page-link" href = "?page={{projects.paginator.num_pages}}">Last</a> </li> -->
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Next</a>
          </li>
        {% endif %} 
        </ul>
    </nav>
    <div class="fw-normal small mt-4 mt-lg-0">Showing <b>{{ projects.end_index }}</b> out of <b>{{ projects.paginator.count }}</b> entries</div>
</div>
</div>


p = Paginator(Project.objects.all().order_by('-date_updated'), 3)
    page = request.GET.get('page')
    projects = p.get_page(page)
    numb = 'a' * projects.paginator.num_pages