{% extends "layouts/supervbase.html" %} {% block title %} Pitched Topics {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}


<!-- <a href="#" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center">
    <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>

    </a> -->

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4 mb-4">
    <div class="d-block mb-4 mb-md-0">
        <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item">
                    <a href="#">
                        <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                    </a>
                </li>
                <li class="breadcrumb-item"><a href="#">Physics Final Year Project</a></li>
                <li class="breadcrumb-item active" aria-current="page">Pitched Topics</li>
            </ol>
        </nav>
        <h2 class="h4">All Pitched Project Topics</h2>
        <p class="mb-0">Find All Pitched Project Topics Here</p>
    </div>
    
</div>



<div class="card card-body border-0 shadow table-wrapper table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="border-gray-200">Project Topic</th>
                <th class="border-gray-200">Pitched By</th>
                <th class="border-gray-200">Description</th>
                <th class="border-gray-200">View/Approve</th>
            </tr>
        </thead>
        <tbody>
            {% if projects.paginator.count == 0 %}
            <tr style = 'border: 1px solid white'> 
                <td>
            <p> There are no pitched topics available at the moment </p>
        </td>
        </tr>
            {% else %}
            
                
                {% for project in projects %}
                <tr>
                <td class="fw-bolder text-gray-500" scope="row">
                    <a href="{% url 'supprojectinfo' project.id %}">
                        <p class="fw-bolder text-gray-500">{{ project.title|slice:":31" }} </p>

                        </p>
                    </a>

                </td>
                
                <td class="fw-bolder text-gray-500">
                    {{ project.sender.last_name}} {{project.sender.first_name}}
                </td>
                
                <td class="fw-bolder text-gray-500">
                    <p class="fw-bolder text-gray-500">{{ project.title|slice:":31" }} </p>

                        <p style="margin-top: -25px;" class="fw-bolder text-gray-500"> {{ project.title|slice:"32:60"}}{% if project.title|length > 60 %}...{% else %} {% endif%}
                        </p>
                </td>
                
                <td>
                    <div class="btn-group">
                        <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="icon icon-sm">
                                  <span class="fas fa-ellipsis-h icon-dark"></span>
                <svg class="icon icon-s me-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M384 32C419.3 32 448 60.65 448 96V416C448 451.3 419.3 480 384 480H64C28.65 480 0 451.3 0 416V96C0 60.65 28.65 32 64 32H384zM224 288C241.7 288 256 273.7 256 256C256 238.3 241.7 224 224 224C206.3 224 192 238.3 192 256C192 273.7 206.3 288 224 288zM224 128C206.3 128 192 142.3 192 160C192 177.7 206.3 192 224 192C241.7 192 256 177.7 256 160C256 142.3 241.7 128 224 128zM224 384C241.7 384 256 369.7 256 352C256 334.3 241.7 320 224 320C206.3 320 192 334.3 192 352C192 369.7 206.3 384 224 384z"/></svg>
                              </span>
                          </button>
                        <div class="dropdown-menu py-0">
                            <a class="dropdown-item rounded-top" href="{% url 'projectinfo' project.id %}"><span class="fas fa-eye me-2"></span>View Details</a>
                            <small class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modal-default{{project.id}}" ><span class="fas fa-edit me-2"></span><b class = "text-danger">Approve and Supervise</b></small>
                            <!-- <small type="button" style="color: red;" data-bs-toggle="modal" data-bs-target="#modal-default">Remove From Project</small> -->
                        </div>
                    </div>
                </td> 
                
                <div class="modal fade" id="modal-default{{project.id}}" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="h6 modal-title">Confirm Acceptance</h2>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body" style="text-align: center;">
                                <p class='lead'> Are you sure you want to  <span class="text-danger">approve this project topic?</span> <b>{{project.title}}</b> by <span class="text-danger"> {{project.supervisor.first_name}} {{project.supervisor.other_names}}</span> </p>
                                <p>{{project.sender.last_name}} {{project.sender.first_name}} will be automatically enrolled upon approval by the project coordinator</p>
                                <p>Other students can join this project group by setting the number of students in each slot</p>
                                

                            </div>
                            <div class="modal-footer">
                                <a href="{% url 'approvepitched' project.id %}"> <button type="button" class="btn btn-danger">Confirm Approval</button> </a>
                                <button type="button" class="btn btn-link text-gray-600 ms-auto" data-bs-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                

               
            </tr>
            {% endfor %} {% endif %}
            <!-- Item -->

        </tbody>
    </table>
    
    {% if not projects.paginator.count == 0 %}
    <div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between">
        <nav aria-label="Page navigation example">
            <ul class="pagination mb-0">
                {% if projects.has_previous %}
                <!-- <li class="page-item"><a class="page-link" href = "?page = 1"></a></li> -->
                <li class="page-item"><a class="page-link" href = "?page={{ projects.previous_page_number }}"> Previous </a> </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                  </li>
                {% endif %}
                {% for i in projects.paginator.page_range %}
                {% if forloop.counter == projects.number %}
                <li class="page-item active">
                    <a class="page-link" href="#">{{forloop.counter}} <span class="sr-only"></span></a>
                  </li>
                {%else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a>
                </li>
                
                {% endif %}
                 {% endfor %}
                
            {% if projects.has_next %}
            <li class="page-item"><a class="page-link" href = "?page={{projects.next_page_number}}"> Next </a> </li>
            <!-- <li class="page-item"><a class="page-link" href = "?page={{projects.paginator.num_pages}}">Last</a> </li> -->
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Next</a>
              </li>
            {% endif %} 
            </ul>
        </nav>
        <div class="fw-normal small mt-4 mt-lg-0">Showing <b>{{ projects.end_index }}</b> out of <b>{{ projects.paginator.count }}</b> entries</div>
    </div>
    {% endif %}
</div>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}