{% extends "layouts/supervbase.html" %} {% block title %} Add Task {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
    
    #date_selector {
        width: 150px;
    }
    
</style>
{% endblock stylesheets %} {% block content %}

<div class="py-4">
    <div class="dropdown">
        <button class="btn btn-gray-800 d-inline-flex align-items-center me-2 dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
                New
            </button>
        <div class="dropdown-menu dashboard-dropdown dropdown-menu-start mt-2 py-1">
            <a class="dropdown-item d-flex align-items-center" href="">
                <svg class="dropdown-icon text-gray-400 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z"></path></svg>                Project Topic
            </a>
            <a class="dropdown-item d-flex align-items-center" href="{% url 'supaddproject' %}">
                <svg class="dropdown-icon text-gray-400 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M7 3a1 1 0 000 2h6a1 1 0 100-2H7zM4 7a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1zM2 11a2 2 0 012-2h12a2 2 0 012 2v4a2 2 0 01-2 2H4a2 2 0 01-2-2v-4z"></path></svg>                Add Tasks
            </a>
            <a class="dropdown-item d-flex align-items-center" href="#">
                <svg class="dropdown-icon text-gray-400 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5.5 13a3.5 3.5 0 01-.369-6.98 4 4 0 117.753-1.977A4.5 4.5 0 1113.5 13H11V9.413l1.293 1.293a1 1 0 001.414-1.414l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 001.414 1.414L9 9.414V13H5.5z"></path><path d="M9 13h2v5a1 1 0 11-2 0v-5z"></path></svg>                Upload Files
            </a>
            <a class="dropdown-item d-flex align-items-center" href="#">
                <svg class="dropdown-icon text-gray-400 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M2.166 4.999A11.954 11.954 0 0010 1.944 11.954 11.954 0 0017.834 5c.11.65.166 1.32.166 2.001 0 5.225-3.34 9.67-8 11.317C5.34 16.67 2 12.225 2 7c0-.682.057-1.35.166-2.001zm11.541 3.708a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
            </a>
            <div role="separator" class="dropdown-divider my-1"></div>
            <a class="dropdown-item d-flex align-items-center" href="#">
                <svg class="dropdown-icon text-danger me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.395 2.553a1 1 0 00-1.45-.385c-.345.23-.614.558-.822.88-.214.33-.403.713-.57 1.116-.334.804-.614 1.768-.84 2.734a31.365 31.365 0 00-.613 3.58 2.64 2.64 0 01-.945-1.067c-.328-.68-.398-1.534-.398-2.654A1 1 0 005.05 6.05 6.981 6.981 0 003 11a7 7 0 1011.95-4.95c-.592-.591-.98-.985-1.348-1.467-.363-.476-.724-1.063-1.207-2.03zM12.12 15.12A3 3 0 017 13s.879.5 2.5.5c0-1 .5-4 1.25-4.5.5 1 .786 1.293 1.371 1.879A2.99 2.99 0 0113 13a2.99 2.99 0 01-.879 2.121z" clip-rule="evenodd"></path></svg>                Upgrade to Pro
            </a>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12 col-xl-8">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card border-0 shadow">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h2 class="fs-5 fw-bold mb-0">My Tasks </h2>
                            </div>
                            {% if not uploads.count == 0 %}
                            
                            {% endif %}
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead">
                                <tr>
                                    <th class="border-gray-200">Task</th>
                                    <th class="border-gray-200">Project Group</th>
                                    <th class="border-gray-200">Date Created</th>
                                    <th class="border-gray-200"> Status </th>
                                    <th class="border-gray-200">Complete / Delete </th>
                                    
                                    <!-- <th class="border-gray-200">Project Group</th>
                                    <th class="border-gray-200">Edit/Delete</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                {% if tasks.paginator.count == 0 %}
                                    <tr style = 'border: 1px solid white'> 
                                        <td class = "align-items-center">
                                    <p> You haven't added any tasks </p>
                                </td>
                                </tr>
                                    {% else %}
                                <tr>
                                    {% for task in tasks %}
                    
                                    <td class="fw-bolder text-gray-500" scope="row">
                                        <a href="#">
                                            <p class="fw-bolder text-gray-500">{{task.name|slice:":31"}} </p>
                    
                                        </a>
                    
                                    </td>
                                    <td><span class="fw-normal">{{task.project}}</span></td>
                                    <td><span class="fw-normal">{{task.date_created}}</span></td>
                                    {% if task.completed == True %}
                                    <td><span class="fw-normal text-success"> Completed </span></td>
                                    <td><span class="fw-normal"><a href = "{% url 'deletetask' task.id %}" class = "sethov">                                 <svg  class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg"><path d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0H284.2c12.1 0 23.2 6.8 28.6 17.7L320 32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 96 0 81.7 0 64S14.3 32 32 32h96l7.2-14.3zM32 128H416V448c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64V128zm96 64c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16z" clip-rule="evenodd"></path></svg>
                                    </b> </a></span></td>
                                    
                                    {% else %}
                                    <td><span class="fw-normal text-danger"> Not Completed </span></td>
                                    <td><span class="fw-normal"> <a href = "{% url 'marktaskcomplete' task.id %}" class = "sethov"> <b>Mark as Complete </b> </a> | <a href = "{% url 'deletetask' task.id %}" class = "sethov"> <svg  class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg"><path d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0H284.2c12.1 0 23.2 6.8 28.6 17.7L320 32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 96 0 81.7 0 64S14.3 32 32 32h96l7.2-14.3zM32 128H416V448c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64V128zm96 64c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16z" clip-rule="evenodd"></path></svg>
                                    </a></span></td>
                                    
                                    {% endif %}
                                    
                                    
                                   
                                </tr>
                                  {% endfor %} {% endif %}
                                <!-- Item -->
                    
                            </tbody>
                        </table>
                        {% if not tasks.paginator.count == 0 %}

                        <div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination mb-0">
                                    {% if tasks.has_previous %}
                                    <!-- <li class="page-item"><a class="page-link" href = "?page = 1"></a></li> -->
                                    <li class="page-item"><a class="page-link" href = "?page={{ tasks.previous_page_number }}"> Previous </a> </li>
                                    {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                      </li>
                                    {% endif %}
                                    {% for i in tasks.paginator.page_range %}
                                    {% if forloop.counter == tasks.number %}
                                    <li class="page-item active">
                                        <a class="page-link" href="#">{{forloop.counter}} <span class="sr-only"></span></a>
                                      </li>
                                    {%else %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a>
                                    </li>
                                    
                                    {% endif %}
                                     {% endfor %}
                                    
                                {% if tasks.has_next %}
                                <li class="page-item"><a class="page-link" href = "?page={{tasks.next_page_number}}"> Next </a> </li>
                                <!-- <li class="page-item"><a class="page-link" href = "?page={{projects.paginator.num_pages}}">Last</a> </li> -->
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Next</a>
                                  </li>
                                {% endif %} 
                                </ul>
                            </nav>
                            <div class="fw-normal small mt-4 mt-lg-0">Showing <b>{{ tasks.end_index }}</b> out of <b>{{ tasks.paginator.count }}</b> entries</div>
                        </div> {% endif %}
                    </div>
                    
                </div>
            </div>
            <div class="col-12 mb-4"> 
                <div class="card border-0 shadow">
                    <div class="card-header">
                        <div class="row align-items-center">

                            <div class="col">
                                <h2 class="fs-5 fw-bold mb-0">Add Task </h2>
                                <hr>
                            </div>

                            <form method="POST"> {% csrf_token %} {% if messages %}
                                <ul class='message'>
                                    <!-- {% for message in messages %}
                                    <li {% if message.tags %} class=" {{message.tags}} " {% endif %}> {{message}}</li>
                                    {% endfor %} -->
                                </ul>
                                {% endif %} {{form.as_p}}
                                
                                <button class="btn btn-gray-800" id="basicAlert">Save Task</button>
                                
                            </form>
                        </div>
                    </div>
                    <!--  -->
                    <div class="table-responsive">

                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="col-12 col-xl-4">
        
        <div class="col-12 px-0 mb-4">
            <div class="card border-0 shadow">
                <div class="card-header border-bottom d-flex align-items-center justify-content-between">
                    <h2 class="fs-5 fw-bold mb-0">My Projects</h2>
                    <a href="{% url 'supervisorall' %}" class="btn btn-sm btn-primary">See All</a>
                </div>
                <div class="card-body">
                    <!-- Project 1 -->
                    {% if projects.count == 0 %}
                    <p class = "mt-2"> You have not uploaded any project topic yet </p>
                    {% else %}
                    
                        {% for myp in projects|slice:":5" %}
                        <a href="{% url 'supprojectinfo' myp.id %}" "> <div class="row mb-4 ">
                            <div class="col-auto ">
                                <svg class="icon icon-sm text-gray-500 " fill="currentColor " viewBox="0 0 20 20 " xmlns="http://www.w3.org/2000/svg "><path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z "></path><path fill-rule="evenodd " d="M4 5a2 2 0 012-2
                            3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z
                            " clip-rule="evenodd "></path></svg>
                            </div>
                            <div class="col ">
                                <div class="progress-wrapper ">
                                    <div class="progress-info ">
                                        <div class="h6 mb-0 "> {{myp.title}}</div>
                                        <!-- <div class="small fw-bold text-gray-500 "><span>75 %</span></div> -->
                                    </div>
                                    <hr>
                                   
                                </div>
                            </div>
                        </div> </a>
                        {% endfor %} {% endif %}


                   
                </div>
            </div>
        </div>
        <div class="col-12 px-0 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between border-bottom pb-3">
                        <div>
                            <div class="h6 mb-0 d-flex align-items-center">
                                <svg class="icon icon-xs text-gray-500 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM4.332 8.027a6.012 6.012 0 011.912-2.706C6.512 5.73 6.974 6 7.5 6A1.5 1.5 0 019 7.5V8a2 2 0 004 0 2 2 0 011.523-1.943A5.977 5.977 0 0116 10c0 .34-.028.675-.083 1H15a2 2 0 00-2 2v2.197A5.973 5.973 0 0110 16v-2a2 2 0 00-2-2 2 2 0 01-2-2 2 2 0 00-1.668-1.973z" clip-rule="evenodd"></path></svg>                                Upcoming Events
                            </div>
                        </div>

                    </div>
                    {% if events.count == 0 %}
                    <p class = "mt-2"> There are no upcoming events </p>
                    {% else %}
                    {% for event in events %}
                    <div class="d-flex align-items-center justify-content-between border-bottom py-3">
                        <div>
                            <div class="h6 mb-0 d-flex align-items-center">
                                <svg class="icon icon-xs text-gray-500 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 6a3 3 0 013-3h10a1 1 0 01.8 1.6L14.25 8l2.55 3.4A1 1 0 0116 13H6a1 1 0 00-1 1v3a1 1 0 11-2 0V6z" clip-rule="evenodd"></path></svg>                                {{event.name}}
                            </div>
                            <div class="small card-stats">
                                {{event.date|date:"l"}}, {{event.date}}
                                <!-- <svg class="icon icon-xs text-success" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg> -->
                            </div>
                        </div>
                        <div>
                            <a href="#" class="d-flex align-items-center fw-bold">
                                    {{event.time}}
                                    <!-- <svg class="icon icon-xs text-gray-500 ms-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 3a1 1 0 000 2v8a2 2 0 002 2h2.586l-1.293 1.293a1 1 0 101.414 1.414L10 15.414l2.293 2.293a1 1 0 001.414-1.414L12.414 15H15a2 2 0 002-2V5a1 1 0 100-2H3zm11.707 4.707a1 1 0 00-1.414-1.414L10 9.586 8.707 8.293a1 1 0 00-1.414 0l-2 2a1 1 0 101.414 1.414L8 10.414l1.293 1.293a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg> -->
                                </a>
                        </div>
                    </div>
                    {% endfor %} {% endif %}


                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}