{% extends "layouts/supervbase.html" %} {% block content %} {% block title %}Supervisor All Students {% endblock %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div class="d-block mb-4 mb-md-0">
        <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item">
                    <a href="{% url 'coordinator' %}">
                        <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                    </a>
                </li>
                <li class="breadcrumb-item"><a href="#">Physics FYP</a></li>
                <li class="breadcrumb-item active" aria-current="page">Students under me</li>
            </ol>
        </nav>
        <h2 class="h4">Students Under My Supervision</h2>
        <!-- <p class="mb-0">Find All Registered Students</p> -->
    </div>
    <div class="btn-toolbar mb-2 mb-md-0">
        <!-- <a href="#" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center">
              <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
        
          </a> -->
        
    </div>
</div>

<div class="table-settings mb-4">
    <div class="row align-items-center justify-content-between">
        <div class="col col-md-6 col-lg-3 col-xl-4">
            <form class = "navbar-search form-inline" id="navbar-search-main" method = 'GET'>
                <div class="input-group me-2 me-lg-3" style = 'width: 1200px;'>
                    <span class="input-group-text">
                          <svg class="icon icon-xs" x-description="Heroicon name: solid/search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                              <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
                          </svg>
                      </span> 
                      
                      {{studentfilter.form.indexNo}} {{studentfilter.form.first_name}} {{studentfilter.form.last_name}}
                      <button class = 'btn btn-primary' type = 'submit'>Search</button>
                </div>
            </form>
        </div>
        
    </div>
</div>

<div class="card card-body border-0 shadow table-wrapper table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <!-- <th class="border-gray-200">#</th> -->
                <th class="border-gray-200">Student Name </th>
                <th class="border-gray-200">Index Number </th>
                <th class="border-gray-200">Selected Topic </th>
                <th class="border-gray-200">Status </th>
                <!-- <th class="border-gray-200">Project Group</th> -->
                <th class="border-gray-200">Action</th>
            </tr>
        </thead>
        <tbody>

            <span class="fw-normal" style="text-align: center;"> <h4>Total Number Of Students: <b>{{students.count}} </b> </h4> </span>
            <!-- <span class="fw-normal mb-5 " style="text-align: center;"> Date Uploaded <b>{{file.date_uploaded}} </b></span> -->
            {% if students.paginator.count == 0 %}
                <tr style = 'border: 1px solid white'>
                     <td><p> You have no students under you </p> <td>                           
                </tr> 
                {% else %}
               
                 {% for i in students %}
            <tr>
                <td>
                    <a href = "{% url 'supstudentdetails' i.id %}">
                    <span class="fw-bolder sethov ">{{i.last_name}} {{i.first_name}}</span>
                </a>
                </td>
                <td><span class="fw-normal">{{i.indexNo}}</span></td>
                <td><span class="fw-normal">
                    <p class="fw-bolder text-gray-500 mb-0">{{ i.project.title|slice:":31" }} </p>
                    <p class="fw-bolder text-gray-500"> {{ i.project.title|slice:"32:60"}}{% if project.title|length > 60 %}...{% else %} {% endif%}
                        </p>
                </span></td>
                {% if i.approved == True %}
                <td><span class="fw-bold text-success"> Approved</span></td>
                {% else %}
                <td><span class="fw-bold text-danger">Pending Approval</span></td>
                
                {% endif %}

                <td>
                    <div class="btn-group">
                        <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="icon icon-sm">
                                  <span class="fas fa-ellipsis-h icon-dark"></span>
                <svg class="icon icon-s me-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M384 32C419.3 32 448 60.65 448 96V416C448 451.3 419.3 480 384 480H64C28.65 480 0 451.3 0 416V96C0 60.65 28.65 32 64 32H384zM224 288C241.7 288 256 273.7 256 256C256 238.3 241.7 224 224 224C206.3 224 192 238.3 192 256C192 273.7 206.3 288 224 288zM224 128C206.3 128 192 142.3 192 160C192 177.7 206.3 192 224 192C241.7 192 256 177.7 256 160C256 142.3 241.7 128 224 128zM224 384C241.7 384 256 369.7 256 352C256 334.3 241.7 320 224 320C206.3 320 192 334.3 192 352C192 369.7 206.3 384 224 384z"/></svg>
                              </span>
                          </button>
                        <div class="dropdown-menu py-0">
                            <a class="dropdown-item rounded-top" href="{% url 'supstudentdetails' i.id %}"><span class="fas fa-eye me-2"></span>View Student Details</a> {% if i.approved == False %}
                            <a class="dropdown-item text-danger rounded-bottom" href="{% url 'supervisoraccept' i.id %}"><span class="fas fa-trash-alt me-2"></span>Approve</a>
                            <a class="dropdown-item text-danger rounded-bottom" href="{% url 'supervisordecline' i.id %}"><span class="fas fa-trash-alt me-2"></span>Decline</a> {% else %}

                            <p class="dropdown-item text-danger rounded-bottom" data-bs-toggle="modal" data-bs-target="#modal-default{{i.id}}" href="#"><span class="fas fa-trash-alt me-2"></span>Remove from project</p> {% endif %}
                        </div>
                    </div>


                </td>

            </tr>
            <div class="modal fade" id="modal-default{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="h6 modal-title">Confirm Removal From Project Group </h2>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" style="text-align: center;">
                            <p class='lead'> Are you sure you want to <span class = 'text-danger'> delete</span> <b>{{i.first_name}} {{i.last_name}} </b>from project </p>
                            <p>Project slot will be <b>available</b> for other students and removed student will be able to select another project</p>

                        </div>
                        <div class="modal-footer">
                            <a href="{% url 'supdeletestudentfromproject' i.id %}"> <button type="button" class="btn btn-secondary">Remove</button> </a>
                            <button type="button" class="btn btn-link text-gray-600 ms-auto" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %} {% endif %}
            <!-- Item -->

        </tbody>
    </table>
    {% if not students.paginator.count == 0 %}
    
    <div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between">
        <nav aria-label="Page navigation example">
            <ul class="pagination mb-0">
                {% if students.has_previous %}
                <!-- <li class="page-item"><a class="page-link" href = "?page = 1"></a></li> -->
                <li class="page-item"><a class="page-link" href = "?page={{ students.previous_page_number }}"> Previous </a> </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                  </li>
                {% endif %}
                {% for i in students.paginator.page_range %}
                {% if forloop.counter == students.number %}
                <li class="page-item active">
                    <a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}} <span class="sr-only"></span></a>
                  </li>
                {%else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a>
                </li>
                
                {% endif %}
                 {% endfor %}
                
            {% if students.has_next %}
            <li class="page-item"><a class="page-link" href = "?page={{students.next_page_number}}"> Next </a> </li>
            <!-- <li class="page-item"><a class="page-link" href = "?page={{projects.paginator.num_pages}}">Last</a> </li> -->
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Next</a>
              </li>
            {% endif %} 
            </ul>
        </nav>
        <div class="fw-normal small mt-4 mt-lg-0">Showing <b>{{ students.end_index }}</b> out of <b>{{ students.paginator.count }}</b> entries</div>
    </div> {% endif %}
</div>




{% endblock content %}