{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title> Todo Homepage </title>
    <link rel="stylesheet" type="text/css" href="{% static 'base/style.css' %}">
</head>

<body>

    <div id=container>
        <div id=sidenav>
            {% for i in specialization %}
            <a href="#"> {{i.name}} </a> {% endfor %}

        </div>
    </div>
    <div id="main">
        <p> {{projects.count}} project topics available </p>

    </div>
    <hr>




    <div id="tasks">
        {% for i in projects %}
        <div id="ncomp">
            <p> <a href="#"> {{i.title}} </a> </p> {% for j in i.supervisor.all %}
            <p> {{j.name}}</p> {% endfor %} {% endfor %} </p>
        </div>

    </div>


</body>

</html>