<footer>
    <section class="footer">

        <div class="box-container" style = 'text-align:center'>

            <p style = "font-size:15px">&copy 2022, Dept. of Physics, Kwame Nkrumah University of Science and Technology</p>
            <!-- <div class="box">
                <h3> Physics FYP <i class="fa-solid fa-bars-progress"> </i>
                </h3>
                <p>Department of Physics Final Year Projects</p>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>
            </div>
    
            <div class="box">
                <a href="#" class="links"> <i class="fa-solid fa-square-phone"></i> Dept. Of Physics Contact </a>
                <a href="#" class="links"> <i class="fas fa-phone"></i> </a>
                <a href="#" class="links"> <i class="fas fa-envelope"></i> </a>
                <a href="#" class="links"> <i class="fas fa-map-marker-alt"></i> Dept. Of Physoc </a>
            </div>
    
            <div class="box">
                <a href="#" class="links"> <i class="fa-solid fa-house"></i> <b>Home</b> </a>
                <a href="#" class="links"> <i class="fa-solid fa-box"></i> <b>Projects </b> </a>
                <a href="#" class="links"> <i class="fa-solid fa-question"></i> <b>FAQS</b></a>
                <!-- <a href="#" class="links"> <i class="fas fa-arrow-right"></i> review </a>
                <a href="#" class="links"> <i class="fas fa-arrow-right"></i> blogs </a> -->
            <!-- </div>
    
            <div class="box">
                <p>subscribe for latest updates</p>
                <input type="email" placeholder="your email" class="email">
                <input type="submit" value="subscribe" class="btn">
                <!-- <img src="image/payment.png" class="payment-img" alt=""> -->
            <!-- </div> --> 
    
        </div>



</section>

</footer>