<!-- header section starts  -->
<header class="header">

    <a href="{% url 'home' %}" class="logo"> <i class="fa-solid fa-bars-progress"></i> PHYSICS FYP </a>

    <nav class="navbar">
        <a href="{% url 'home' %}" class = "fa-solid fa-house"> <b>HOME</b></a>
        <a href="{% url 'portalallprojects' %}" class ="fa-solid fa-arrow-down-a-z"> <b>PROJECT TOPICS</b></a>
        <a href="{% url 'specPage' %}" class="fa-solid fa-rectangle-list"> <b>SPECIALIZATIONS</b></a>
    
       
        <a href="{% url 'supervPage' %}" class="fa-solid fa-user-graduate"> <b>SUPERVISORS</b></a>

    </nav>

    <div class="icons">
        <div class="fas fa-bars" id="menu-btn"></div>
        <div class="fas fa-search" id="search-btn"></div>
        <div class="fas fa-shopping-cart" id="cart-btn"></div>
        <div class="fas fa-user" id="login-btn" style="
        display: none;"></div>
    </div>

    <form  class="search-form" method = 'POST' action = "{% url 'portalsearch' %}" name = 'navform'>
        {% csrf_token %}
        <input type="search" id="search-box" placeholder="search here..." name ='searched'>
        <label for="search-box" class="fas fa-search"></label>
    </form>



    

</header>